.send {
    border-radius: 9px;
    color: rgba(134, 6, 246, 0.909);
    cursor: pointer;
  }
.invalid {
    border-color: red;
    text-decoration: dashed;
  }
.generation {
    display: flex;
    background-color: rgb(240, 46, 46);
    color: aqua;
    font-size: 32px;
    margin-top: 200px;
    margin-left: 60px;
  }
.generation:hover {
    cursor: pointer;
    border-radius: 10px
  }